# APP
PORT=8000

# DB
DATABASE_URL="postgresql://postgres:admin@localhost:6543/postgres"
PORT= 
DATABASE_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
MAIL_USER=
MAIL_PASS=
JWT_SECRET=
JWT_SECRET_RESET=
JWT_SECRET_VERIFY=
XENDIT_SECRET_KEY=
BASE_URL_FE=
REDIS_HOST=
REDIS_PORT=